{% extends 'base.html' %} {% load static %}
{% block content %}
        <!-- Header-->
        <header class="bg-gradient text-white" style="background-color:#24A19C;">
            <div class="container px-4 py-5 text-center">
                <h1 class="fw-bolder pt-5">회사 소개</h1>
                <p class="lead pb-5">베지테리언 blah blah blah 바디케어 브랜드</p>

            </div>
        </header>
    <!-- About section-->
    <section class="" id="">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h1>회사소개 페이지입니다.</h1>
                </div>
            </div>
        </div>
    </section>

{% endblock %}