{% extends 'base.html' %}
{% block content %}

<!-- Details page-->
    <section class="bg-green1 text-color" id="">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2 style="">{{ product_list.name }}</h2>
                    <div>{{ product_list.description }}</div>
                    <h4>{{ product_list.price }}</h4>
                    <h5>{{ product_list.category_id.name}}</h5>

                </div>
            </div>
        </div>
    </section>
    <section class="mb-3">
        <div class="card bg-light">
            <div class="card-body">
                <form action="{% url 'mysite:comment_create' product_list.id %}" class="mb-4" method="post">
                    {% csrf_token %}
                    <textarea class="form-control" id="content" name="content" placeholder="내용을 입력해주세요." rows="3"></textarea>
                    <button class="btn btn-primary" type="submit">submit</button>
                </form>
                {% for comment in product_list.comment_set.all %}
                <div class="d-flex">
                    <div class="ms-3">
                        <div class="fw-bold">{{ comment.author.fullname }} &nbsp&nbsp {{ comment.create_date }}
                            {% if comment.create_date != comment.modify_date %}
                            / 수정일자: {{ comment.modify_date }} {% endif %}
                            {% if request.user == comment.author %}
                            <a class="btn btn-sm btn-outline-secondary" href="{% url 'mysite:comment_update' comment.id %}">수정</a>
                            <a class="btn btn-sm btn-outline-secondary" href="{% url 'mysite:comment_delete' comment.id %}">삭제</a>
                            {% endif %}
                        </div>

                        {{ comment.content }} </div> </div> <br/>
                {% endfor %}
            </div> </div>
    </section>
{% endblock %}