{% extends 'base.html' %} {% block content %} {% load static %}
    <!-- Header-->
    <header class="bg-main bg-gradient text-color">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h1 class="fw-bolder" style="font-size:288px;">A</h1>
                </div></div></div>
    </header>
    <!-- About section-->
    <section class="bg-green1 text-color" id="">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2 style="line-height:100px; font-size:48px; font-weight: 400;">누구나 사용할 수 있는<br>안전한<br> 비건 바디케어 제품을 만듭니다</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- duck -->
    <div class="canvas-wrapper" id="scroll-content">
        <canvas id="duck"></canvas>
    </div>

    <!-- introduce New Items section-->
    <section class="bg-main text-color" id="services">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2 style="line-height:100px; font-size:48px; font-weight: 700;">아이에게<br>목욕시간이 더 즐거워질 수 있도록</h2>
                    <p class="lead" style="line-height:70px; font-size:24px; font-weight: 500;">식용색소만을 사용,<br>Lorem ipsum의 조향,<br>EGF 그린 등급의 원료를 주재료로 한 -</p><br>
                    <p class="lead" style="line-height:70px; font-size:24px; font-weight: 700;">순한 배쓰밤</p>
                </div>
            </div>
        </div>
    </section>
    <!-- introduce New Items detail section-->
    <section class="bg-main text-color" id="detail">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="" src="{% static 'bathbomb.jpg'%}" alt="신상품" /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">밀키 배쓰밤 세트</h1>
                    <p></p>
                </div>
            </div>
                </div>
            </div>
        </div>
    </section>

    <!--prev items-->
    <section class="bg-main text-color" id="prev">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    {% if content_list %}
                        {% for content in content_list %}

                        <div class="row gx-4 gx-lg-5 align-items-center my-5">
                            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
                            <div class="col-lg-5">
                                <h1 class="font-weight-light"><a href="/mysite/{{ content.id }}/">{{ content.title }}</a></h1>
                                <p>{{ content.content}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>content가 없습니다.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}