
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;600;700&display=swap');
@font-face {
      src : url("SeoulHangangB.ttf");
      font-family: "SeoulHangangB"
}

:root {

  /* color (from Color Hunt https://colorhunt.co/ ) */
  --color-main: #F8EDE3;
  --color-green1: #BDD2B6;
  --color-green2: #A2B29F;
  --color-green3: #798777;
  --color-darkgreen:  #50594f; /*#798777;*/
  --color-darkgreen-rgb: 80, 89, 79; /*121, 135, 119;*/

  --bs-gray-500-rgb: 173, 181, 189;

}


section {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.text-color {
  --bs-text-opacity: 1;
  color: rgba(var(--color-darkgreen-rgb), var(--bs-text-opacity)) !important;
}

.bg-main {
  background-color: var(--color-main) !important;
}
.bg-green1 {
  background-color: var(--color-green1) !important;
}
.bg-green3 {
  background-color: var(--color-green3);
}
.bg-darkgreen {
  background-color: var(--color-darkgreen) !important;
}
.fw-supalight {
  font-weight: 200;
}

/*-----------------------------------------GNB----------------------------------------*/


.navbar .nav-item:hover .dropdown-menu{ display: block; }

.navbar .nav-item .dropdown-prod {
  position: absolute;
  background-color: #333;
  color: #fff;
  width: 100%;
  border-radius: 0;
  top: 80px;
  left: 0;
  z-index: 1;
}

.column {
  float: left;
  width: auto;
  display: table;
  margin: 0 auto;
  padding-left: 50px;
  min-width: 10rem;
}

.column li > a {
  color: #9b9b9b;
}

  .column .dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    background-color: #333;
  }
.column .dropdown-item{
    padding: 0.25rem 0;
}

/* menu triangle */
.dropdown-prod:after {
    content: '';
    display: block;
    position: absolute;
    top: -20px; /* 위치 */
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -60px; /* 위치 */
    border-top: 10px solid transparent;
    border-bottom: 10px solid #333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

/* person icon dropdown menu */
.nav-icon{
  font-size: 1.5rem;
}
.navbar .nav-item .dropdown-iconmenu{
    margin-top:0;
    position: absolute;
    min-width: 8rem;
    top: 50px;
    right: -3rem;
}

/***********************************Custom sub navbar color**************************************/
.navbar-local{

}
.sticky-localNav{
  position: -webkit-sticky;
  position: sticky;
  top: 87px;
  z-index: 1020;
}
.navbar-bg{
  backdrop-filter: saturate(180%) blur(20px);
  --bs-bg-opacity: 0.6;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

.navbar-custom{
    color: rgba(var(--color-text-rgb), 1.0);
    border-bottom: 1px solid rgba(var(--bs-gray-500-rgb), 0.7);
    padding: 0;
}


.navbar-custom .navbar-brand {
  color: rgba(var(--color-darkgreen-rgb), 0.9);
  font-family:'SeoulHangangB';
  font-size: 1rem;
}

.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
  color: rgba(var(--color-darkgreen-rgb), 0.9);

}
.navbar-custom .navbar-nav .navbar-btn {
  display: block;
  text-decoration: none;
  font-size: 11px;
  margin: 0.2rem 0.3rem;
  padding: 0.3rem 0.6rem;
  border-radius: 5rem;
  opacity: 0.7;
  transition: all 0.2s;
}
.navbar-custom .navbar-nav .nav-link {
  color: rgba(var(--color-darkgreen-rgb), 0.55);
  font-size: 11px;
  padding: 0.5rem 1rem;
}
.navbar-custom .navbar-nav .nav-link:hover, .navbar-custom .navbar-nav .nav-link:focus {
  color: rgba(var(--color-darkgreen-rgb), 0.7);
}
.navbar-custom .navbar-nav .nav-link.disabled {
  color: rgba(var(--color-darkgreen-rgb), 0.3);
}
.navbar-custom .navbar-nav .show > .nav-link,
.navbar-custom .navbar-nav .nav-link.active {
  color: rgba(var(--color-darkgreen-rgb), 0.9);
}
.navbar-custom .navbar-toggler {
  color: rgba(var(--color-darkgreen-rgb), 0.55);
  border-color: rgba(var(--color-darkgreen-rgb), 0.1);
}
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-custom .navbar-text {
  color: rgba(var(--color-darkgreen-rgb), 0.55);
}
.navbar-custom .navbar-text a,
.navbar-custom .navbar-text a:hover,
.navbar-custom .navbar-text a:focus {
  color: rgba(var(--color-darkgreen-rgb), 0.9);
}

/*-------------------------------------- Main Page --------------------------------------*/
.main-link{
    text-decoration: none;
    font-size: 21px;

}

.icon-chevronright:after{
    padding-left: 0.3em;
}

.category h2 a{
  text-decoration: none;
  color: #212529;
}

/*--------------------------------for scroll animation-----------------------------------*/
 html {
    height: 100vh;
    transition: background 0.8s;
 }
canvas {
    position: sticky;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.canvas-wrapper{
    height: 500vh;
    background: #06808b;
    padding-top: 50vh;
}

/*----------------------------------- product list--------------------------------------*/
.prod-list{

}

.thumb{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.prod-list .prod-info{
  text-align: center;
  bottom: 0;
}

.prod-list .prod-info .prod-title{
  font-size: 16px;
  line-height: 22px;
}
.prod-list .prod-info .prod-title a{
  text-decoration: none;
  color: #212529;
}
.prod-list .prod-info .prod-about{
  font-size: 14px;
  color: #8f8f8f;
}
.prod-list .prod-info .prod-price{
  margin-top: 1rem;
}
.prod-list .prod-info .prod-price::before{
  content: '₩ ';
}

/*------------------------------------ footer----------------------------------------*/
.footer {
    width:100%;
}
.footer .footer_inner {margin:0 auto;overflow:hidden;}

.footer .footer_wrap.top {width:100%; border-bottom:1px solid #ccc7c2;}
.footer .footer_wrap.bottom .footer_inner {position:relative;}

footer .footer_logo {padding:10px 0 0 60px;width:150px;float:left;}

footer .footer_tx {padding:25px 0 0 60px;font-family:'Noto Serif KR',serif; font-weight:200;color:#ccc7c2;}
footer .footer_tx .footer_tx_inner {overflow:hidden;}
footer .footer_tx p {margin-right:27px;float:left;font-size:14px;line-height:15px;}
footer .copyright {padding-left:60px;font-size:14px;font-weight:300;}

